<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from_category_id %><br />
    <%= f.text_field :from_category_id %>
  </p>
  <p>
    <%= f.label :to_category_id %><br />
    <%= f.text_field :to_category_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :memo %><br />
    <%= f.text_field :memo %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>